---
import Layout from '../layouts/Layout.astro';
import Calculator17c from '../components/Calculator17c';
---

<Layout title="ValueGuard - 17c Diminished Value Calculator">
  <main class="min-h-screen py-12">
    <Calculator17c client:load />
  </main>
</Layout>
